.git
.terraform
.env
.env.*
!.env.example
terraform.tfvars
!scaffold/terraform.tfvars
*.tfstate
*.tfstate.*
tfplan
tfplan.meta.json
settings.local.json
*.tfplan
*.tfplan.meta.json
dns-records.local.json
!scaffold/dns-records.local.json
values
local
secrets
scripts/__pycache__
__pycache__
*.py[cod]
.vscode
.idea
.DS_Store
Thumbs.db
