[defaults]
inventory = ansible/inventory/local.yml
roles_path = ansible/roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
