OPENROUTER_API_KEY={{ lookup('env', 'OPENROUTER_API_KEY') }}
OPENAI_API_KEY={{ lookup('env', 'OPENAI_API_KEY') }}
FIREWORKS_API_KEY={{ lookup('env', 'FIREWORKS_API_KEY') }}
SSSF_CONFIG={{ sssf_config_path }}
SSSF_WORKSPACE_ROOT={{ sssf_workspace_root }}
