OPENROUTER_API_KEY={{ sssf_openrouter_api_key }}
OPENAI_API_KEY={{ sssf_openai_api_key }}
FIREWORKS_API_KEY={{ sssf_fireworks_api_key }}
SSSF_CONFIG={{ sssf_config_path }}
SSSF_WORKSPACE_ROOT={{ sssf_workspace_root }}
