OPENROUTER_API_KEY={{ sssf_openrouter_api_key | tojson }}
OPENAI_API_KEY={{ sssf_openai_api_key | tojson }}
FIREWORKS_API_KEY={{ sssf_fireworks_api_key | tojson }}
SSSF_WORKSPACE_ROOT={{ sssf_workspace_root | tojson }}
