HERMES_HOME=/home/{{ hermes_runtime_user | default('anvil') }}/.hermes
{% if hermes_managed_runtime_supported | default(false) | bool %}
HERMES_NODE=/usr/local/lib/hermes-node/current/bin/node
HERMES_SKIP_NODE_BOOTSTRAP=1
HERMES_DISABLE_LAZY_INSTALLS=1
PATH=/usr/local/lib/hermes-node/current/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
HERMES_TUI_DIR=/usr/local/lib/hermes-agent/tui
{% endif %}
HERMES_DASHBOARD_BASIC_AUTH_USERNAME={{ hermes_dashboard_basic_auth_username }}
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD_HASH={{ hermes_dashboard_basic_auth_password_hash }}
HERMES_DASHBOARD_BASIC_AUTH_SECRET={{ hermes_dashboard_basic_auth_secret }}
{% if hermes_web_searxng_url | default('') | length > 0 %}
HERMES_WEB_SEARXNG_URL={{ hermes_web_searxng_url }}
SEARXNG_URL={{ hermes_web_searxng_url }}
{% endif %}
