HERMES_HOME=/root/.hermes
HERMES_DASHBOARD_BASIC_AUTH_USERNAME={{ hermes_dashboard_basic_auth_username }}
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD={{ hermes_dashboard_basic_auth_password }}
HERMES_DASHBOARD_BASIC_AUTH_SECRET={{ hermes_dashboard_basic_auth_secret }}
