[Unit]
Description={{ item.name | default('SSH') }} proxy to {{ item.upstream }}
Requires={{ item.unit_name }}.socket
After=network.target

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd {{ item.upstream }}
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
