CONTROL_API_TOKEN={{ hermes_control_api_token }}
CONTROL_API_HERMES_PLUGIN_SOCKET={{ hermes_control_extension_socket }}
CONTROL_API_HERMES_PLUGIN_TOKEN={{ hermes_control_bridge_token }}
CONTROL_API_DB_PATH={{ hermes_control_state_dir }}/control-api.sqlite3
CONTROL_API_HERMES_HOME=/home/{{ hermes_runtime_user }}/.hermes
CONTROL_API_WORKSPACE_ROOT={{ hermes_control_workspace_root }}
CONTROL_API_PROJECT_ROOTS={{ hermes_control_project_roots | to_json }}
CONTROL_API_REQUIRE_TASK_APPROVAL=1
