HERMES_CONTROL_EXTENSION_SOCKET={{ hermes_control_extension_socket }}
HERMES_CONTROL_EXTENSION_TOKEN={{ hermes_control_bridge_token }}
HERMES_CONTROL_EXTENSION_HERMES_COMMAND=/usr/local/bin/hermes chat --ignore-user-config --ignore-rules -q
HERMES_HOME=/home/{{ hermes_runtime_user }}/.hermes
PATH=/usr/local/lib/hermes-node/current/bin:/usr/local/bin:/usr/bin:/bin
