[Unit]
Description=Technitium DNS Server
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=dns-server
Group=dns-server
SyslogIdentifier=dns-server
WorkingDirectory={{ technitium_install_root }}/dns
ReadWritePaths={{ technitium_state_directory }} {{ technitium_log_directory }}
Environment="OPENSSL_ENABLE_SHA1_SIGNATURES=1"
ExecStart=/usr/bin/dotnet {{ technitium_install_root }}/dns/DnsServerApp.dll {{ technitium_state_directory }}
Restart=always
RestartSec=10
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictRealtime=true
RestrictSUIDSGID=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
UMask=0077

[Install]
WantedBy=multi-user.target
