ENCRYPTION_KEY={{ infisical_encryption_key }}
AUTH_SECRET={{ infisical_auth_secret }}
POSTGRES_USER={{ infisical_postgres_user | default('infisical') }}
POSTGRES_PASSWORD={{ infisical_postgres_password }}
POSTGRES_DB={{ infisical_postgres_db | default('infisical') }}
DB_CONNECTION_URI=postgres://{{ infisical_postgres_user | default('infisical') }}:{{ infisical_postgres_password }}@db:5432/{{ infisical_postgres_db | default('infisical') }}
REDIS_URL=redis://redis:6379
SITE_URL=https://{{ infisical_domain }}
HOST=0.0.0.0
