Jinja2==3.1.6
MarkupSafe==3.0.3
PyYAML==6.0.3
ansible-compat==26.6.0
ansible-core==2.19.11
ansible-lint==26.6.0
attrs==26.1.0
black==26.5.1
bracex==3.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
cryptography==49.0.0
distro==1.9.0
filelock==3.29.5
idna==3.18
jmespath==1.1.0
jsonschema-specifications==2025.9.1
jsonschema==4.26.0
mypy_extensions==1.1.0
packaging==26.2
passlib==1.7.4
pathspec==1.1.1
platformdirs==4.10.0
pycparser==3.0
python-hcl2==7.3.1
pytokens==0.4.1
referencing==0.37.0
requests==2.34.2
resolvelib==1.2.1
rpds-py==2026.6.3
ruamel.yaml.clib==0.2.15
ruamel.yaml==0.19.1
subprocess-tee==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
wcmatch==10.2.1
yamllint==1.38.0
